{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    <div class="rule" id="r1">
        <h4>Решение через дискриминант</h4>
        <div>ax<sup>2</sup>+bx+c=0</div>
        <div>D=b<sup>2</sup>-4ac</div>
        <div>x<sub>1,2</sub>=(-b±√D)/2a</div>
    </div>
    <div class="rule" id="r3">
        <h4>Свойства коэффициентов</h4>
        <ul>
            <li>Если a+b+c=0, то х<sub>1</sub>=1, х<sub>2</sub>=c/а</li>
            <li>Если а+с=b, то х<sub>1</sub>=-1, х<sub>2</sub>=-с/а</li>
            <li>Если b=a<sup>2</sup>+1, c=a, то x<sub>1</sub>=-a, x<sub>2</sub>=-1/a</li>
            <li>Если b=-(a<sup>2</sup>+1), c=a, то x<sub>1</sub>=a, x<sub>2</sub>=1/a</li>
            <li>Если b=a<sup>2</sup>-1, c=-a, то x<sub>1</sub>=-a, x<sub>2</sub>=1/a</li>
            <li>Если b=-(a<sup>2</sup>-1), c=-a, то x<sub>1</sub>=a, x<sub>2</sub>=-1/a</li>
        </ul>
    </div>
    <div class="rule" id="r2">
        <h4>Решение через дискриминант(k)</h4>
        <div>ax<sup>2</sup>+bx+c=0</div>
        <div>k=b/2</div>
        <div>D=k<sup>2</sup>-ac</div>
        <div>x<sub>1,2</sub>=(-k±√D)/a</div>
    </div>
{% endblock %}