{% extends 'main/layout.html' %}
{% load static %}

{% block title %}b отсутствует{% endblock %}

{% block content %}
    <h1>b отсутствует</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="equation">
            <span class="a">
                <select name="" class="selector" id="first">
                    <option selected>
                    </option>
                    <option>
                        -
                    </option>
                </select>
                <input id="a" value="1">
                <label for="a">x<sup>2</sup></label>
            </span>
            <span class="c">
                <select name="" class="selector" id="third">
                    <option selected>
                        +
                    </option>
                    <option>
                        -
                    </option>
                </select>
                <input id="c" value="1">=0
            </span>
        </div>
        <span id="solution">
            <div id="solve"></div>
        </span>
        <div id="answer"></div>
        <div id="button">Готово</div>
    </form>
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <script src="{% static 'js/b.js' %}"></script>
{% endblock %}
