{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Решение через дискриминант(k){% endblock %}

{% block content %}
    <h1>Решение через свойства коэффициентов</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="equation">
            <span class="a">
                <select name="" class="selector" id="first">
                    <option selected>
                    </option>
                    <option>
                        -
                    </option>
                </select>
                <input id="a" value="1">
                <label for="a">x<sup>2</sup></label>
            </span>
            <span class="b">
                <select name="" class="selector" id="second">
                    <option selected>
                        +
                    </option>
                    <option>
                        -
                    </option>
                </select>
                <input id="b" value="1"><label for="b">x</label>
            </span>
            <span class="c">
                <select name="" class="selector" id="third">
                    <option selected>
                        +
                    </option>
                    <option>
                        -
                    </option>
                </select>
                <input id="c" value="1">=0
            </span>
        </div>
        <span>
            <div id="kofs"> a = 1; b = 1; c = 1</div>
            <div id="rule"></div>
            <div id="solution"></div>
            <div id="x1"></div>
            <div id="x2"></div>
            <div id="answer"></div>
        </span>
        <div id="button">Готово</div>
    </form>
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <script src="{% static 'js/kof.js' %}"></script>
{% endblock %}